<?xml version="1.0" encoding="UTF-8"?><!--
  ~ Copyright (C) 2017 The Better Together Toolkit
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
  ~ or implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="ac.robinson.bettertogether"
	android:installLocation="auto">

	<application
		android:name=".BetterTogetherApplication"
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_content"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/bt_ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/BetterTogether">
		<activity
			android:name=".ConnectionSetupActivity"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateAlwaysHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".PluginHostActivity"
			android:label="@string/app_name" />

		<!-- communication between devices -->
		<activity
			android:name=".plugin.base.shopping.BasketActivity"
			android:exported="true"
			android:icon="@drawable/ic_shopping_basket_deep_purple_800_48dp"
			android:label="@string/basket_activity_name"
			android:theme="@style/BetterTogether.PluginStyle.deep_purple">
			<!-- these meta-data elements are only required for built-in plugins - external plugins can omit these -->
			<!-- (external plugins only need meta data at the application level) -->			<intent-filter>
			<action android:name="ac.robinson.bettertogether.intent.action.LAUNCH_PLUGIN" />
		</intent-filter>

			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_THEME"
				android:value="deep_purple" />
			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_ICON"
				android:resource="@mipmap/shopping_ic_launcher" />
			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_LABEL"
				android:resource="@string/shopping_plugin_name" />

			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_PACKAGE"
				android:value="ac.robinson.bettertogether.plugin.base.shopping" />
		</activity>

		<!-- demo/built-in plugin: shopping -->
		<activity
			android:name=".plugin.base.shopping.CategoryActivity"
			android:exported="true"
			android:icon="@drawable/ic_layers_deep_purple_800_48dp"
			android:label="@string/category_activity_name"
			android:theme="@style/BetterTogether.PluginStyle.deep_purple">
			<intent-filter>
				<action android:name="ac.robinson.bettertogether.intent.action.LAUNCH_PLUGIN" />
			</intent-filter>
			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_PACKAGE"
				android:value="ac.robinson.bettertogether.plugin.base.shopping" />
		</activity>

		<activity
			android:name=".plugin.base.shopping.ItemActivity"
			android:exported="true"
			android:icon="@drawable/ic_dashboard_deep_purple_800_48dp"
			android:label="@string/item_activity_name"
			android:theme="@style/BetterTogether.PluginStyle.deep_purple">
			<intent-filter>
				<action android:name="ac.robinson.bettertogether.intent.action.LAUNCH_PLUGIN" />
			</intent-filter>
			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_PACKAGE"
				android:value="ac.robinson.bettertogether.plugin.base.shopping" />
		</activity>

		<activity
			android:name=".plugin.base.video.activity.VideoActivity"
			android:exported="true"
			android:icon="@drawable/ic_movie_red_800_48dp"
			android:label="@string/mode_youtube_videos"
			android:theme="@style/BetterTogether.PluginStyle.red">
			<!-- these meta-data elements are only required for built-in plugins - external plugins can omit these -->
			<!-- (external plugins only need meta data at the application level) -->			<intent-filter>
			<action android:name="ac.robinson.bettertogether.intent.action.LAUNCH_PLUGIN" />
		</intent-filter>

			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_THEME"
				android:value="red" />
			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_ICON"
				android:resource="@mipmap/video_ic_launcher" />
			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_LABEL"
				android:resource="@string/video_plugin_name" />

			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_PACKAGE"
				android:value="ac.robinson.bettertogether.plugin.base.video" />
		</activity>

		<!-- demo/built-in plugin: video -->
		<activity
			android:name=".plugin.base.video.activity.ControlsActivity"
			android:exported="true"
			android:icon="@drawable/ic_play_arrow_red_800_48dp"
			android:label="@string/mode_youtube_controls"
			android:theme="@style/BetterTogether.PluginStyle.red">
			<intent-filter>
				<action android:name="ac.robinson.bettertogether.intent.action.LAUNCH_PLUGIN" />
			</intent-filter>
			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_PACKAGE"
				android:value="ac.robinson.bettertogether.plugin.base.video" />
		</activity>

		<activity
			android:name=".plugin.base.video.activity.SearchActivity"
			android:exported="true"
			android:icon="@drawable/ic_search_red_800_48dp"
			android:label="@string/mode_youtube_search"
			android:theme="@style/BetterTogether.PluginStyle.red">
			<intent-filter>
				<action android:name="ac.robinson.bettertogether.intent.action.LAUNCH_PLUGIN" />
			</intent-filter>
			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_PACKAGE"
				android:value="ac.robinson.bettertogether.plugin.base.video" />
		</activity>

		<activity
			android:name=".plugin.base.video.activity.PlaylistActivity"
			android:exported="true"
			android:icon="@drawable/ic_playlist_play_red_800_48dp"
			android:label="@string/mode_youtube_playlist"
			android:theme="@style/BetterTogether.PluginStyle.red">
			<intent-filter>
				<action android:name="ac.robinson.bettertogether.intent.action.LAUNCH_PLUGIN" />
			</intent-filter>
			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_PACKAGE"
				android:value="ac.robinson.bettertogether.plugin.base.video" />
		</activity>

		<activity
			android:name=".plugin.base.video.activity.CommentsActivity"
			android:exported="true"
			android:icon="@drawable/ic_question_answer_red_800_48dp"
			android:label="@string/mode_youtube_comments"
			android:theme="@style/BetterTogether.PluginStyle.red">
			<intent-filter>
				<action android:name="ac.robinson.bettertogether.intent.action.LAUNCH_PLUGIN" />
			</intent-filter>
			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_PACKAGE"
				android:value="ac.robinson.bettertogether.plugin.base.video" />
		</activity>

		<activity
			android:name=".plugin.base.video.activity.RelatedVideoActivity"
			android:exported="true"
			android:icon="@drawable/ic_subscriptions_red_800_48dp"
			android:label="@string/mode_youtube_related_videos"
			android:theme="@style/BetterTogether.PluginStyle.red">
			<intent-filter>
				<action android:name="ac.robinson.bettertogether.intent.action.LAUNCH_PLUGIN" />
			</intent-filter>
			<meta-data
				android:name="ac.robinson.bettertogether.intent.extra.PLUGIN_PACKAGE"
				android:value="ac.robinson.bettertogether.plugin.base.video" />
		</activity>

		<service android:name=".hotspot.HotspotManagerService" />
	</application>

	<!-- for wifi-based communication -->
	<permission
		android:name="ac.robinson.bettertogether.permission.BETTER_TOGETHER"
		android:protectionLevel="normal" />

	<!-- for enabling/disabling wifi and setting up hotspots - maxSdkVersion is because from N (SDK 24) this is not possible -->
	<uses-feature
		android:name="android.hardware.camera"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.camera.front"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.camera.autofocus"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.camera.flash"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.wifi"
		android:required="false" /><!-- not required after v24 as hotspots can no-longer be created by apps -->

	<!-- for bluetooth-based communication -->
	<uses-feature
		android:name="android.hardware.bluetooth"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.location"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.location.network"
		android:required="false" />

	<!-- for barcode scanning (note: already in merged manifest, but included here for clarity) -->
	<uses-permission android:name="android.permission.INTERNET" />

	<!-- don't require camera, as this requires a rear camera - this allows it to work on any camera (front or back) -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

	<uses-permission
		android:name="android.permission.WRITE_SETTINGS"
		android:maxSdkVersion="24"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<uses-permission android:name="android.permission.CAMERA" />

</manifest>
